<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-3" th:each="vo:${map.list}">
	    <div class="thumbnail">
	      <a th:href="@{/detail(no=${vo.bar_no})}">
	        <img th:src="@{${vo.image}}" style="width:230px;height: 130px">
	        <div class="caption">
	          <p th:text="${vo.name}"></p>
	        </div>
	      </a>
	    </div>
	  </div>
    </div>
  </div>
</body>
</html>