<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container">
    <div class="row">
      <div class="col-md-3" th:each="vo:${map.list}">
	    <div class="thumbnail">
	      <a th:href="@{/detail(no=${vo.bar_no})}">
	        <img th:src="@{${vo.image}}" style="width:230px;height: 130px">
	        <div class="caption">
	          <p th:text="${vo.name}"></p>
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="text-center">
	  	<nav aria-label="Page navigation example">
			<ul class="pagination">
			  <li th:if="${map.startPage>1}" class="page-item">
			    <a class="page-link" th:href="@{/(page=${map.startPage-1})}" aria-label="Previous">
			      <span aria-hidden="true">&laquo;</span>
			    </a>
			  </li>
			  <li th:class="${map.curpage==i}?'active':''" th:each="i:${#numbers.sequence(map.startPage,map.endPage)}" class="page-item"><a class="page-link" th:href="@{/(page=${i})}" th:text="${i}"></a></li>
			  
			  <li th:if="${map.endPage<map.totalpage}" class="page-item">
			    <a class="page-link" th:href="@{/(page=${map.endPage+1})}" aria-label="Next">
			      <span aria-hidden="true">&raquo;</span>
			    </a>
			  </li>
			</ul>
		</nav>
	  </div>
    </div>
  </div>
</body>
</html>